@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.Home>img {
    width: 45%;
    border-radius: 20px;
    box-shadow: 5px 5px 7px 5px rgba(207, 173, 181, 0.719);
}

.Home>p {
    font-family: 'Courgette', cursive;
    font-size: 24px;
    color:rgba(152, 35, 70, 0.939);    
}